@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem;
    min-width: 50%;
    overflow: auto;
    margin: 1rem;
}

.content legend{
    text-align: center;   
    font-size: 1.2rem;
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
    padding: 8px;
}

.content h3{
    color: dodgerblue;
}

.content .sub{
    text-align: center;
    margin-bottom: 1rem;  
}

.content form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

fieldset{
    background-color: white;
    border: 3px solid dodgerblue;
    padding: 1rem 2rem;
}

.span-required{
    font-size: 1rem;
    display: none;
    color: #e63636;
}

input{
    width: 100%;
    padding: 7px 5px;
    outline: none;
    transition: .3s;
}

.inputs:focus{
    border-color: dodgerblue  ;
}

select{
    height: 40px;
    padding: 5px 10px;
    border-radius: none;
}

textarea{
    padding: 7px 5px;
}

.content h3{
    margin: 0;
    text-align: center;
    color: black;
}

.box-select{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.box-select div{
    display: grid;
    align-items: center;
    text-align: center;
}

button[type="submit"]{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

button[type="submit"]:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

@media(max-width: 550px) {
    .content h3{
        font-size: .9rem;
    }

    .box-select{
        text-align: center;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    select{
        padding: 5px 10px;
        border-radius: none;
    }
}

@media(max-width:450px) {
    select{
        height: 50px;
    }
}


